.skill-section {
    padding: 100px 0;
    background:  #f1efef;
    h1 {
        font-size: 3.3rem;
        text-align: center;
        margin: 0 0 70px;
        color: rgba(0, 49, 52, 0.9);
        font-weight: 500;
    }
    .col-s12 {
        width: 100%;
        position: relative;
        .down-skill {
            position: relative;
            height: 700px;
            width: 100%;
            li{
                width: 100%;
                padding: 15px 20px;
                margin: 0 30px 40px;
                border: 2px solid rgba(0, 49, 52, 0.7);
                background-color: #e6f4f1;
                border-radius: 35px;
                display: flex;
                align-items: center;
                transition: all 0.3s ease-out;
                .skill{
                    margin: 0 20px;
                }
            }
        }
    }
}

.skill-section{
    .col-s12{
        .down-skill{
            li{
                .skill-unit {
                    font-size: 20px;
                    font-weight: 600;
                    color: #003134;
                    margin-right: 30px;
                    display: flex;
                    align-items: center;
                    i {
                        font-size: 0.6em;
                        margin-right: 10px;
                    }
                }
                .skill-item {
                    width: 120px;
                    height: 40px;
                    margin-right: 15px;
                    border: 2px solid rgba(0, 49, 52, 0.7);
                    border-radius: 40px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgba(0, 49, 52, 0.7);
                    i {
                        font-size: 1.5em;
                    }
                }
                .skill-item-long {
                    width: 280px;
                }
                &:hover{
                    transform: scale(1.1);
                    box-shadow: 0 0 10px 0 rgba(0, 49, 52, 0.7);
                    background: #ffffff;
                    filter: blur(0);
                }
            }
        }
    }
}

.hide-on-large-only{
    .collapsible-item {
        width: 100%;
        padding: 15px 20px;
        margin: 0 0 20px;
        border: 2px solid rgba(0, 49, 52, 0.7);
        background-color: #e6f4f1;
        border-radius: 75px;
        list-style: none;
        transition: all 0.3s ease-out;
        .collapsible-header {
            position: relative;
            padding: 0.5rem 3rem 0.5rem 1rem;
            min-height: 3.5rem;
            line-height: 1.25rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            &::after{
                content: "\002B";
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                transition: all 0.3s ease-in-out;
            }
            .skill-unit {
                font-size: 20px;
                font-weight: 600;
                color: #003134;
                margin-right: 30px;
                display: flex;
                align-items: center;
                i {
                    font-size: 0.6em;
                    margin-right: 10px;
                }
            }
        }
        .collapsible-body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            .collapsible-body-content {
                padding: 1rem;
                line-height: 1.5rem;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .skill {
                    width: 45%;
                    margin: 5px;
                    text-align: center;
                    padding: 25px 0;
                }
                .skill-item {
                    width: 120px;
                    height: 40px;
                    margin-right: 15px;
                    border: 2px solid rgba(0, 49, 52, 0.7);
                    border-radius: 40px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgba(0, 49, 52, 0.7);
                    i {
                        font-size: 1.5em;
                    }
                }
                .skill-item-long {
                    width: 280px;
                }
            }
        }
    }
}

.hide-on-large-only{
    .collapsible-item{
        .collapsible-header.active{
            &::after{
                content: "\2212";
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.hide-on-large-only{
    display: none;
    .collapsible-item{
        .collapsible-header.active + .collapsible-body {
            max-height: 500px;
        }
    }
}


@include responsive("large"){
    .on-full-res {
        display: none;
    }

    .hide-on-large-only {
        display: block;
    }
}

@include responsive("small"){
    .hide-on-large-only{
        .collapsible-item{
            .collapsible-body{
                .collapsible-body-content {
                    display: flex;
                    flex-direction: column;
                    .skill {
                        width: 100%;
                    }
                }
            }
        }
    }
}